.advantage_container {
    max-width: 288px;
    height: 330px;
    border-radius: 20px;
    box-shadow: 0px 9px 14px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.advantage_img_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 170px;
    overflow: hidden;
}

.advantage_img {
    width: 100%;
    border: none;
    padding: 0;
}

.advantage_description_container {
    padding: 0 30px;
}

.advatage_title {
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    font-style: normal;
    color: var(--dark-text-color);
    margin-bottom: 16px;
    margin-top: 20px;
}

.advatage_description {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
    color: var(--dark-text-color);

}

.plus_icon {
    height: 24px;
    width: 24px;
    margin: 15px -200px 26px 0;
    cursor: pointer;
}