@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    ---bg-color: #FFFFFF;
    --bg-accent-color: #2B0955;
    --dark-text-color: #000000;
    --light-text-color: #FFFFFF;
    --light-details-color: #FBC508;
    --dark-details-color: #7000FF;
    --main-font: 'Poppins', sans-serif;

}