.dark,
.light {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 40px;
    width: 20%;
}

.dark {
    color: var(--dark-text-color)
}

.light {
    color: var(--light-text-color)
}